@page
@model WebUI.Pages.OrganisationAdmin.PayForServiceModel
@{
}


<a asp-page="/OrganisationAdmin/WhatLanguage" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
     <fieldset class="govuk-fieldset">
         <h1 class="govuk-fieldset__heading-m">
          Do people have to pay to use the service?
        </h1>

      <form method="post">

          <input asp-for="@Model.StrOrganisationViewModel" type="hidden" >

      <div class="govuk-form-group">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" type="radio" asp-for="IsPayedFor" value="Yes" onclick="toggleVisibility('conditional-payment')" />
          @*<input class="govuk-radios__input" id="pay-service" name="payForService" asp-for="IsPayedFor" type="radio" value="Yes" onclick="toggleVisibility('conditional-payment')" aria-controls="conditional-payment">*@
          <label class="govuk-label govuk-radios__label" for="pay-service">
            Yes, people have to pay
          </label>
        </div>
        <div class="govuk-radios__conditional" style="display: none;" id="conditional-payment">
          <div class="govuk-form-group">
            <label class="govuk-label" for="cost-per-item">
              Amount
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5"  name="Cost" value="Cost" type="number" step="0.01" spellcheck="false">
            </div>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                Amount per
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" asp-for="PayUnit" value="Session" />
                  <label class="govuk-label govuk-radios__label" for="cost-unit">
                    Session
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" asp-for="PayUnit" value="Hour" />
                  <label class="govuk-label govuk-radios__label" for="cost-unit-2">
                    Hour
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" asp-for="PayUnit" value="Day" />
                  <label class="govuk-label govuk-radios__label" for="cost-unit-3">
                    Day
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" asp-for="PayUnit" value="Week" />
                  <label class="govuk-label govuk-radios__label" for="cost-unit-4">
                    Week
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" asp-for="PayUnit" value="Course" />
                  <label class="govuk-label govuk-radios__label" for="cost-unit-5">
                    Course
                  </label>
                </div>
              </div>

            </fieldset>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" type="radio" asp-for="IsPayedFor" value="No" />     
          <label class="govuk-label govuk-radios__label" for="pay-service-2">
            No, it is free
          </label>
        </div>
      </div>
      </div>

      <button class="govuk-button">
        Continue
      </button>
    </form>
    </fieldset>
</main>